@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.section {
  height: 100vh;
}
.section-hero {
  /* background-color: #528443; */
  margin-bottom: 20px;
}
.section-search {
  /* width: 100vw; */
  margin-top: 50px;
}

/* Hero styles */
.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 8%;
}

.books-img {
  margin-right: 40px;
}

.title {
  padding-top: 8%;
  margin-left: 20px;
}

.title > h1 {
  color: #2a4997;
  font-size: 4rem;
}
.title > h2 {
  color: #e25f3f;
}
.btn-enter {
  color: white;
  font-size: 1.5rem;
  background-color: #df871e;
  -webkit-box-shadow: 0 8px 6px -6px black;

  width: 300px;
  height: 50px;
}

.btn-enter:hover {
  color: white;
  background-color: #2a4997;
  -webkit-box-shadow: 0 8px 8px -6px black;
}

/* Nav Styles */

.nav-brand {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.nav-link:hover {
  color: #f7dc4d !important;
}

.nav-link-search {
  color: #e25f3f !important;
  font-weight: bolder !important;
}

.nav-link-saved {
  color: #2a4997 !important;
  font-weight: bolder !important;
}

/* Search Styles */

.form-styles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
}
.form-input {
  width: 800px;
  margin-right: 20px;
}
.form-btn {
  color: white;
  font-size: 18px;
  background-color: #2a4997;
  height: 35px;
  width: 300px;
  padding-bottom: 25px;
}

.form-btn:hover {
  color: #e25f3f;
  background-color: #f7dc4d;
}

.card-header-styles {
  font-size: 35px;
  color: #e25f3f;
  -webkit-text-stroke: 1px black;
}

.results-btn {
  background-color: #2a4997;
  float: right;
  border: 2px solid #2a4997;
}

.results-btn:hover {
  color: #e25f3f;
  background-color: #f7dc4d;
  border: 2px solid #f7dc4d;
}
