@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.section {
  height: auto;
  width: 100vw;
}

/* Nav Styles */

.nav-brand {
  height: 30px;
  width: 30px;
}

.myNav {
}
